{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django APP</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam amet doloribus consequuntur numquam animi delectus corporis, ipsum veritatis repellat harum error perferendis iste deserunt architecto, cupiditate voluptas odit laboriosam ratione. Rerum temporibus delectus perspiciatis dolor assumenda. Iure cum magni quo obcaecati repellendus quod corporis sequi, dolorem voluptas eum repudiandae ea similique perspiciatis? Dolores accusamus unde sunt enim facilis, harum, quam assumenda dignissimos eveniet rerum nostrum quaerat! Temporibus neque eligendi id accusantium consequuntur, voluptatem modi, itaque nemo dolore ratione sit totam quaerat incidunt eveniet facilis eum ipsam, explicabo doloribus? Vel, itaque. Velit ducimus quae cumque consectetur quidem assumenda ipsum, dolores modi?</p>
    
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">Signin</a>
            <a class="btn btn-dark" href="/signup/">Signup</a>
        </div>
    </section>
</main>
{% endblock %}